.SideBar-search {
    margin-bottom: 3em;
    width: 73%;
}

.SideBar-dropdown {
    width: 73%;
    margin-bottom: 3em;
}

#SideBar-btn:hover {
    background: transparent;
    border: 1px solid olive;
    cursor: pointer;
    color: steelblue;
}

@media screen and (max-width: 700px) {
    .SideBar-dropdown {
        display: none;
    }

    .SideBar-search {
        margin: 1em auto
    }

    div h3 {
        text-align: center;
    }

    #SideBar-btn {
        /* position: relative;
        left: 8.5em; */
        margin-bottom: 1.5em;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        cursor: pointer;
    }

    #SideBar-btn:hover {
        background: transparent;
        border: 1px solid olive;
        cursor: pointer;
        color: steelblue;
    }
}