.CookBook {
    margin-top: 4em;
}

#root > div > div > h1 {
    margin-bottom: 1.4em;
    color: orange;
}

.CookBook-card {
    width: 70%;
    margin: 0 auto;
}

.CookBook-content {
    display: flex;
    justify-content: center;
}

.CookBook-main {
    width: 40%;
}

.CookBook-aside {
    width: 25%;
    border-right: 0.5px solid teal;
    margin-right: 70px;
}

.CookBook-favorite-icon {
    float: right;
}

@media screen and (max-width: 700px) {
    .CookBook-content {
        display: flex;
        flex-direction: column;
    }

    .CookBook-aside {
        border-right: none;
        border-bottom: 0.1px solid rgba(3, 175, 175, 0.3);
        /* border: 1px solid black; */
    }

    .CookBook-main {
        width: 90%;
        margin: 1.5em auto;
        /* border: 1px solid black; */
    }

    .CookBook-aside {
        width: 90%;
        margin: 0 auto;
    }
}