#RecipeCard-card {
    width: 70%;
    margin-bottom: 2em;
}

.RecipeCard-box {
    height: 450px;
    margin-bottom: 3em !important;
}

.RecipeCard-ingredients {
    display: flex;
    justify-content: space-around;
}

div.header {
    color: teal !important;
}

.RecipeCard-favorite-icon {
    float: right;
}

