#RecipeCard-card {
    width: 70%;
    margin-bottom: 2em;
}

.RecipeCard-box {
    min-height: 450px !important;
    margin-bottom: 3em !important;
}

.RecipeCard-ingredients {
    display: flex;
    justify-content: space-around;
}

div.header {
    color: teal !important;
}

.RecipeCard-favorite-icon {
    float: right;
}

@media screen and (max-width: 700px) {
    #RecipeCard-card {
        width: 85%;
    }
}

